.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  margin-top: 20px;
}

/* Responsive Styles for .gallery */
@media (max-width: 768px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; /* Force only one column */
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; /* Force one image per row on small screens */
  }
}

.image-container {
  cursor: pointer;
  position: relative;
}

/* Responsive Styles for .image-container */
@media (max-width: 768px) {
  .image-container {
    width: calc(50% - 16px); /* Two images in one row on tablets */
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 100%; /* Ensure image takes full width of the container */
    margin: 8px 0; /* Adjust margin for better spacing */
  }
}

.image-container img {
  width: 96%;
  height: auto; /* Added missing semicolon */
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin: 7px;
}

.image-container img:hover {
  transform: scale(1.010);
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive Styles for .close */
@media (max-width: 480px) {
  .close {
    font-size: 30px;
    top: 15px;
    right: 20px;
  }
}

.back-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

.back-button:hover {
  background-color: #555;
}

/* Responsive Styles for .back-button */
@media (max-width: 480px) {
  .back-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
/* Tablet-specific Styles for .gallery */
@media (min-width: 481px) and (max-width: 1024px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; /* Display two columns on tablets */
  }
}



/* Adjust modal close button and back button for tablet screens */
@media (min-width: 481px) and (max-width: 1024px) {
  .close {
    font-size: 35px;
    top: 18px;
    right: 25px;
  }

  .back-button {
    font-size: 15px;
    padding: 9px 18px;
  }
}

