/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Navbar Styling */
.navbar {
  background-color: white;
  padding: 40px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; /* Sticky to the top of the viewport */
  z-index: 100; /* Keep navbar above other content */
}

.navbar-logo {
  position: absolute;
  left: 30px;
}

.navbar-logo a {
  color: #0a0909;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.navbar-logo img {
  width: 250px; /* Adjust width for desktop */
  height: 250px;
  object-fit: contain;
  margin-left: 70px;
  margin-top: 7px; /* Adjust for alignment */
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navbar-menu li {
  margin-left: 25px;
}

.navbar-menu a {
  color: #6B707F;
  font-family: "Poppins", sans-serif; /* Ensure fallback font */
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Active link styles */
.active-link {
  color: #FFA500; /* Change the text color */
  background-color: rgba(255, 165, 0, 0.1); /* Change the background color */
  border-radius: 5px; /* Rounded corners */
}

/* Hover effect for links */
.navbar-menu a:hover {
  color: #FFA500; /* Change hover text color */
  background-color: rgba(255, 255, 255, 0.1); /* Change hover background color */
  border-radius: 5px;
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 30px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

.close-button {
  font-size: 45px;
  font-weight: 700;
  color: black; /* Close button color */
}

/* Responsive Media Query for Mobile */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    border-top: 1px solid #ccc;
    z-index: 10;
  }

  .navbar-menu li {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-menu a {
    padding: 15px;
  }

  .hamburger {
    display: flex;
  }

  /* Toggle Menu Visibility */
  .navbar-menu.active {
    display: flex;
  }

  .navbar-logo img {
    width: 190px; /* Adjust logo width for mobile */
    margin-left: -25px; /* Adjust margin for mobile */
  }
}
