.testimonials-container {

  border-radius: 10px;
  margin-bottom: 20px;
  
  
}

.testimonials-title {
  text-align: center;
  font-size: 60px;
  color: #D4AF37;
 font-family: 'Alex Brush';
  margin-bottom: 10px;
  font-weight: 400;
}

.testimonials-subtitle {
  text-align: center;
  font-size: 16px;
  color: #6B707F;
  font-family: 'poppins';
  font-weight: 400;
  margin-bottom: 20px;
}

.testimonials-swiper {
  width: 100%;
  height: 100%;
}

.testimonial-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.testimonial-card p {
 
  border-radius: 10px;
  font-family: 'poppins';
  color: #6B707F;

  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: justify;
}
.testimonial-card h4{
  font-family: 'poppins';
  color: black;
  font-weight: bold;
}

.stars {
  font-size: 20px;
  color: #FFD700;
  margin-bottom: 20px;
}



.pagination-bullet {
  background: #007bff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.5;
}

.pagination-bullet-active {
  opacity: 1;
}

.pagination-bullet:hover {
  opacity: 0.7;
}

/* Tablet styles */
@media (max-width: 768px) {
  .testimonials-title {
      font-size: 38px; /* Slightly smaller title */
  }

  .testimonials-subtitle {
      font-size: 14px; /* Slightly smaller subtitle */
  }

  .testimonial-card {
      padding: 15px; /* Reduced padding for smaller screens */
      max-width: 90%; /* Allow more width on smaller screens */
  }

  .stars {
      font-size: 18px; /* Slightly smaller star size */
  }

  .read-button {
      padding: 8px 12px; /* Reduced padding for button */
  }
}

/* Phone styles */
@media (max-width: 480px) {
  .testimonials-title {
      font-size: 40px; /* Smaller title for phones */
  }

  .testimonials-subtitle {
      font-size: 12px; /* Smaller subtitle for phones */
  }

  .testimonial-card {
      padding: 10px; /* Further reduced padding for phones */
  }

  .stars {
      font-size: 16px; /* Smaller star size for phones */
  }

  .read-button {
      font-size: 14px; /* Smaller button text */
      padding: 8px; /* Reduced padding for button */
  }
  .testimonial-card p {
    padding: 15px;  /* Adjust spacing for phones */
    margin: 0 10px; /* Add margin to create space from edges */
    text-align: justify; /* Keep text justified for alignment */
}

  .modal-content {
      padding: 15px; /* Reduced padding in modal */
  }
}
